@{
    ViewBag.Title = "Error en la página";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="home">     
    <div style="margin: 5px">
        <h1>Error en la página (error 500).</h1>
        <br />
        <h3>Se produjo un error en la página, por favor, inténtelo de nuevo.</h3>
        <br />
    </div>
</div>