@{
    ViewBag.Title = "Página no encontrada";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="home">     
    <div style="margin: 5px">
        <h1>Página no encontrada (error 404).</h1>
        <br />
        <h3>La página que estás buscando no se pudo encontrar. Por favor use el menú para buscar la página correspondiente.</h3>
        <br />
    </div>
</div>