@{
    ViewBag.Title = "Error on Page";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="home">     
    <div style="margin: 5px">
        <h1>Error on page (error 500).</h1>
        <br />
        <h3>There was an error on the page, please try again.</h3>
        <br />
    </div>
</div>