@{
    ViewBag.Title = "Fehler auf der Seite";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="home">     
    <div style="margin: 5px">
        <h1>Fehler auf der Seite (error 500).</h1>
        <br />
        <h3>Es gab einen Fehler auf der Seite, bitte versuchen Sie es erneut.</h3>
        <br />
    </div>
</div>