@{
    ViewBag.Title = "Seite nicht gefunden";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="home">     
    <div style="margin: 5px">
        <h1>Seite nicht gefunden (error 404).</h1>
        <br />
        <h3>Die von Ihnen gesuchte Seite konnte nicht gefunden werden. Bitte verwenden Sie das Menü für die entsprechende Seite schauen.</h3>
        <br />
    </div>
</div>