@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="home">
    <div style="margin: 5px">
        <h1>Error</h1>
        <br />
        <h3>Ein Fehler bei der Verarbeitung Ihrer Anfrage.</h3>
        <br />
    </div>
</div>
