@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground"><img class="floatLeft" src="~/images/headers/disclaimer-image.jpg" width="960" height="240" alt="" />
      <div class="clear"></div>
    </div>
}

<div id="mainContent" class="login">
    <div id="col1">
      <h2 class="darkGreen">Disclaimer</h2>
      <p class="spaceAfter6"><strong>Assuring Food Supplies, Safety, Security and Quality &#8211; A guide to pesticide residues.</strong></p>
      <p>The information in this Guide is intended as an introduction to the use of pesticides in the food chain. Whilst it provides information both in summary format and also in some detail, it is intended to provide general, introductory information only and does not provide advice or recommendations concerning any specific circumstances or question. For advice and guidance relating to your specific circumstances or question, you must seek advice from an appropriately qualified person. Of course, if you need specific advice and guidance relating to the use of Syngenta products and services, please contact your local Syngenta representative. Any action taken or decision made which is based upon the information contained in this Guide is therefore strictly at your own risk and no company within the Syngenta AG Group will be liable should any such action or decision give rise to loss or damage. This does not exclude or limit any liability which cannot be excluded or limited by applicable law.</p>
    </div>
    <div class="clear"></div>
  </div>
<div class="clear"></div>
  <div class="height30"></div>