@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <div id="imageRotation"><img src="images/headers/home-image.jpg" width="960" height="195" alt="" /></div>
    <div class="clear"></div>
    <div class="darkOrangeBackground height10"></div>
    <div class="lightOrangeBackground height40"></div>
}

<div id="mainContent" class="home"><img src="images/home/title.gif" alt="Assuring food supplies; safety, security and quality - a guide to pesticide residues" name="titlegraphic" width="346" height="206" id="titlegraphic" />
    <div class="introCopy">
        <p><strong>Assuring Food Supplies; Safety, Security and Quality &#8211; A guide to pesticide residues</strong> aims to enhance the awareness of topics surrounding pesticide residues in food and inform those who wish to understand more about the role of agrochemicals in modern crop production. The new Syngenta E-book format enables you to tailor the level of information to your specific customers' demands.</p>
        <p class="spaceAfter2"><a href="#">Log in <img src="images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
        <p class="spaceAfter2"><a href="#">Register <img src="images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
        <p class="spaceAfter2"><a href="#">Admin log in <img src="images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
    </div>
    <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="flags">
    <p>Please click the relevant icon below to change to your preferred language</p>
    <a href="#"><img src="images/home/english.gif" width="49" height="57" alt="English icon" /></a><a href="#"><img src="images/home/german.gif" width="49" height="57" alt="German icon" /></a><a href="#"><img src="images/home/spanish.gif" width="49" height="57" alt="Spanish icon" /></a><a href="#"><img src="images/home/italian.gif" width="49" height="57" alt="Italian icon" /></a>
    <div class="clear"></div>
</div>