@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground"><img class="floatLeft" src="~/images/headers/select-image.jpg" width="960" height="240" alt="" />
      <div class="clear"></div>
    </div>
}

<div id="mainContent" class="select">
    <div id="col1">
      <p>The on-line delivery of <strong>&quot;Assuring Food Supplies; Safety, Security and Quality – A guide to pesticide residues&quot;</strong> enables you to tailor production of individual booklets according to your customers' demands. You can select individual chapters or any combination of chapters from the Introductory and/or Advanced versions provided, which can be to saved and printed as a pdf format, or to email direct to customers. You can select some pages from the Introductory version and others from the Advanced. The order that pages are placed into the book will be the order they are printed. You can review your book at any time during the process.</p>
    </div>
    <div id="col2">
        @using (Html.BeginForm("Select", "Book", FormMethod.Post, new { id = "select-form" }))
        {
          <p><strong>Introductory Level</strong></p>
          <p>Gives a clear and concise introduction to the key topics. An essential overview of the subjects and how the complex issues interact.</p>
          <p><strong>Download a complete PDF of Introductory Level pages:</strong><br />
            <span class="marginLeft13">
                @*<a href="#" class="intro high" id="butIntroCompleteHigh">High resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a> &nbsp;|&nbsp;
                <a href="#" class="intro low" id="butIntroCompleteLow">Low resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a>*@
                <a href="~/resources/pdf/HR/intro/ENG-background-HR.pdf">High resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a> &nbsp;|&nbsp;
                <a href="~/resources/pdf/LR/intro/ENG-background-LR.pdf">Low resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a>
            </span>
          </p>
          <p><strong>Click to select individual pages:</strong><br />
            <span class="marginLeft13">
                <a href="#" class="intro high" id="butIntroIndividualHigh">High resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a> &nbsp;|&nbsp; 
                <a href="#" class="intro low" id="butIntroIndividualLow">Low resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a>
            </span>
          </p>
          <br />
          <p><strong>Advanced Level</strong></p>
          <p>Gives detailed information and in-depth understanding of the science surrounding <br />
            pesticide use, and the practical implications for the food chain.</p>
          <p><strong>Download a complete PDF of Advanced Level pages:</strong><br />
            <span class="marginLeft13">
                @*<a href="#" class="advanced high" id="butAdvancedCompleteHigh">High resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a> &nbsp;|&nbsp; 
                <a href="#" class="advanced low" id="butAdvancedCompleteLow">Low resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a>*@
                <a href="~/resources/pdf/HR/advanced/ENG-advanced-HR.pdf">High resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a> &nbsp;|&nbsp; 
                <a href="~/resources/pdf/LR/advanced/ENG-advanced-LR.pdf">Low resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a>
            </span>
          </p>
          <p><strong>Click to select individual pages:</strong><br />
            <span class="marginLeft13">
                <a href="#" class="advanced high" id="butAdvancedIndividualHigh">High resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a> &nbsp;|&nbsp; 
                <a href="#" class="advanced low" id="butAdvancedIndividualLow">Low resolution <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a>
            </span>
          </p>
            @Html.Hidden("IsFromSelectPage", (object)"1")
            @Html.Hidden("IsIntro")
            @Html.Hidden("IsHighQuality")
        }
    </div>
    <div class="clear"></div>
  </div>
<div class="clear"></div>
<div class="height30"></div>

@section Body {
    <script src="~/scripts/page-specific/select.js" type="text/javascript"></script>
}