@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground"><img class="floatLeft" src="~/images/headers/disclaimer-image.jpg" width="960" height="240" alt="" />
      <div class="clear"></div>
    </div>
}

<div id="mainContent" class="login">
    <div id="col1">
        <h2 class="darkGreen">Disclaimer</h2>
        <p class="spaceAfter6"><strong>Dieser Leitfaden dient als Einführung in den Gebrauch von Pestiziden in der Nahrungskette.</strong></p>
        <p>Obwohl er Informationen sowohl in Form einer Zusammenfassung als auch detaillierter Natur enthält, dient er ausschliesslich dem Zweck einer generellen Einführungsinformation. Der Leitfaden enthält weder Ratschläge noch Empfehlungen zu konkreten Sachverhalten oder Fragen. Wenn Sie Fragen haben und/oder Hilfestellungen zu konkreten Sachverhalten benötigen, sollten Sie sich zwingend an eine entsprechend qualifizierte Fachperson wenden. Selbstverständlich können Sie sich bei konkreten Fragen betreffend des Gebrauchs von Syngenta Produkten und Dienstleistungen direkt an Ihren lokalen Syngenta Vertreter wenden. Jegliche Handlung oder Entscheidung, welche aufgrund des vorliegenden Leitfadens vorgenommen respektive getroffen wird, erfolgt auf eigene Verantwortung. Keine Gesellschaft innerhalb der Syngenta Gruppe kann haftbar gemacht werden, sollten entsprechende Handlungen oder Entscheidungen Verlust oder Beschädigungen zur Folge haben. Haftung, welche nach geltendem Recht nicht beschränkt oder ausgeschlossen werden kann, wird nicht beschränkt oder ausgeschlossen.</p>
    </div>
    <div class="clear"></div>
  </div>
<div class="clear"></div>
  <div class="height30"></div>