@{
    ViewBag.Title = "Prefacio";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground">
        <img class="floatLeft" src="~/images/headers/foreword-image.jpg" width="960" height="240" alt="" />
        <div class="clear"></div>
    </div>
}

<div id="mainContent" class="select">
    <div id="col1">
        <h2 class="orange">
            Prefacio
        </h2>
        <p>La nueva guía de Syngenta <strong>&quot;Comprometidos con la seguridad alimentaria y la calidad de los alimentos. Una guía sobre los residuos de los productos de protecciónde cultivos&quot;</strong> pretende contribuir a un mejor conocimiento de los residuos de los productos de protección de cultivos en los alimentos, y para informar a las personas que deseen comprender el importante debate sobre el papel de los agroquímicos en la producción agrícola moderna.</p>
        <p>
            Esta guía proporciona una introducción en el lenguaje de los estudios científicos, con las definiciones de los términos empleados y trata de aclarar lo que ocurre al establecer las normas que se aplican a la seguridad de nuestros alimentos. Las posiciones de partida de aquellos preocupados por los temas aquí presentados y por la discusión generada, pueden diferir ampliamente y en ocasiones estar polarizado; entendiendo esta información ayudará a mantener un debate con más información para tratar esas diferencias.<br />
        </p>
        <p>Para alimentar a una población en continuo crecimiento y garantizar la igualdad en la distribución de alimentos tenemos que aceptar que nadie está produciendo más tierras agrícolas. Hay una necesidad de producir más alimentos por cada metro cuadrado de tierra agrícola, sin embargo, se</p>
    </div>
    <div id="col2">
        <p>reconoce que esto debe hacerse de forma sostenible. La Comisión de la UE está denominándolo &quot;Agricultura Intensiva Sostenible&quot;, es decir, la producción máxima de alimentos de calidad con un uso mínimo de insumos – incluyendo el combustible, fertilizantes y agua – sin afectar al medio ambiente y al mismo tiempo proporcionar un medio de vida digno para los agricultores y las comunidades rurales.</p>
        <p>
            Además de las preocupaciones sobre la seguridad alimentaria y la sostenibilidad, existe un presión importante en la cadena alimentaria para reducir los residuos de los productos de protección de cultivos en los alimentos por debajo de los niveles establecidos científicamente por los Gobiernos. Abordar simultáneamente todos estos temas es un reto importante para los productores. Syngenta está en una muy buena posición para ayudar desarrollando la mejor tecnología y herramientas y poniéndolas a su disposición.<br />
        </p>
        <p><strong>&quot;Comprometidos con la seguridad alimentaria&quot;</strong> ha sido diseñado específicamente para responder a estas preguntas e inquietudes. Esperamos que usted encuentre esta información útil, sencilla y comprensible.</p>
        <div align="right">
            <p><a href="~/select">Crear mi E-book <img src="images/common/orangearrowongrey.gif" width="15" height="15" alt="" /></a></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="height30"></div>
