@model Syngenta.Core.User

@{
    ViewBag.Title = "¿He olvidado la contraseña?";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation"><img class="floatLeft" src="~/images/headers/password-image.jpg" width="960" height="250" alt="" />
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
}

  <div id="mainContent" class="login">
    <div id="col1">
        <h2>¿He olvidado la contraseña?</h2>
        <p>Introduzca su dirección de correo electrónico Syngenta en el siguiente campo y pulse en &quot;Continuar&quot;. Un correo electrónico será enviado a usted con la información de su contraseña.</p>

      @using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post, new { id = "forgotten-password-form" }))      
      {
        @Html.AntiForgeryToken()  
          
        <table id="regTable" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="90" align="left" valign="middle">
                <label for="email">
                    Correo <br />
                    electrónico
                </label>
            </td>
            <td width="285" align="left">
              @Html.TextBoxFor(user => user.Email, new { @class = "width275", Name = "Email", Id = "Email", autocomplete = "off" })
            </td>
            <td width="15" align="left">&nbsp;</td>
            <td align="left"><a href="#" id="btnForgottenPassword">Continuar <img src="~/images/common/orangearrowongrey.gif" width="15" height="15" alt="" /></a> </td>
          </tr>
        </table>
        <p class="errorMessage hide">Introduzca su dirección de correo electrónico Syngenta.</p>
        @ViewBag.Message
      }

    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="height30"></div>