@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner {
    
    <div id="imageRotation"><img src="~/images/headers/home-image.jpg" width="960" height="195" alt="" /></div>
    <div class="clear"></div>
    <div class="darkOrangeBackground height10"></div>
    <div class="lightOrangeBackground height40"></div>

    }

  <div id="mainContent" class="home"><img src="~/images/home/title-spa.gif" alt="Assuring food supplies; safety, security and quality - a guide to pesticide residues" width="387px" height="245px" name="titlegraphic" id="titlegraphic" />
    <div class="introCopy">
        <p><strong>&quot;Comprometidos con la seguridad alimentaria y la calidad de los alimentos. Una guía sobre los residuos de los productos de protección de cultivos&quot;</strong> tiene como objetivo aumentar la concienciación sobre los temas que rodean los residuos de productos de sanidad vegetal o fitosanitarios en los alimentos e informar a aquellos que desean entender más sobre la contribución de los agroquimicos a la producción agrícola moderna. El nuevo formato del libro electrónico (e-book) Syngenta le permite adaptar el nivel de información a las demandas de sus clientes específicos.</p>
      <p class="spaceAfter2"><a href="~/login">Iniciar la sesión <img src="~/images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
      <p class="spaceAfter2"><a href="~/register">Registro <img src="~/images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
      <p class="spaceAfter2"><a href="~/admin/login">Admin log in <img src="~/images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="flags">
    <p>Por favor, pulse en el icono correspondiente a continuación para cambiar al idioma que prefiera...</p>
    <a href="../en"><img src="~/images/home/english.gif" width="49" height="57" alt="English icon" /></a>
    <a href="../de"><img src="~/images/home/german.gif" width="49" height="57" alt="German icon" /></a>
    <a href="#"><img src="~/images/home/spanish.gif" width="49" height="57" alt="Spanish icon" /></a>
    <div class="clear"></div>
  </div>