@model Syngenta.Core.User

@{
    ViewBag.Title = "Pendiente de registro";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground">
        <img class="floatLeft" src="~/images/headers/register-image.jpg" width="640" height="250" alt="" />
        <div id="introText">
            <p class="spaceBefore60"><strong>&quot;Comprometidos con la seguridad alimentaria y la calidad de los alimentos. Una guía sobre los residuos de los productos de protección de cultivos&quot;</strong> ha sido creado gracias a la innovadora tecnología de publicación de libros electrónicos que le permite seleccionar únicamente páginas en el nivel de detalle requerido en cada una de las diferentes áreas temáticas. Puede seleccionar, guardar, imprimir o enviar sus propias versiones, de acuerdo con las demandas de sus clientes. </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
}
<div id="mainContent" class="register">
    <div id="col1">
        <p>Un correo electrónico de verificación se ha enviado a su dirección de correo electrónico en Syngenta con su contraseña. Una vez que haya recibido la contraseña, puede utilizar el proceso de conexión rápida para futuras visitas.</p>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="height30"></div>
