@{
    ViewBag.Title = "Confirmación de registro";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="mainContent" class="register">
    <div id="col1">
        <p>Gracias, la confirmación se ha completado. @Html.ActionLink("Pulse aquí", "login") para ingresar/login.</p>
    </div>
</div>
