@{
    ViewBag.Title = "Ha habido un error en la confirmación de su registro";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="mainContent" class="register">
    <div id="col1">
        <p>Se ha producido un error al procesar la solicitud de registro.</p>
    </div>
</div>