@{
    ViewBag.Title = "El intento de restablecer su contraseña ha fracasado";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation"><img class="floatLeft" src="~/images/headers/password-image.jpg" width="960" height="250" alt="" />
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
}

  <div id="mainContent" class="login">
    <div id="col1">
      <h2>El intento de restablecer su contraseña ha fracasado</h2>
      <p>El intento de restablecer la contraseña ha fallado. @Html.ActionLink("Pulse aquí", "forgottenpassword") para intentar restablecer la contraseña de nuevo.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="height30"></div>