@{
    ViewBag.Title = "Por favor, restablezca su contraseña";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation"><img class="floatLeft" src="~/images/headers/password-image.jpg" width="960" height="250" alt="" />
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
}

  <div id="mainContent" class="login">
    <div id="col1">
      <h2>Por favor, restablezca su contraseña.</h2>
      <p>Introduzca su nueva contraseña en el campo de abajo y pulse 'enviar'</p>

      @using (Html.BeginForm("ResetPassword", "Account", new {token = ViewBag.Token }, FormMethod.Post, new { id = "reset-password-form" }))      
      {
        @Html.AntiForgeryToken()  
          
        <table id="regTable" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="90" align="left" valign="middle">
              <label for="NewPassword">Nueva Contraseña</label>
            </td>
            <td width="285" align="left">
                @Html.Password("NewPassword", null, new { @class = "width275", Name = "NewPassword", Id = "NewPassword", autocomplete = "off" })    
            </td>
            <td width="90" align="left" valign="middle">
              <label for="ConfirmPassword">Confirmar Contraseña</label>
            </td>
            <td width="285" align="left">
                @Html.Password("ConfirmPassword", null, new { @class = "width275", Name = "ConfirmPassword", Id = "ConfirmPassword", autocomplete = "off" })    
            </td>
            <td width="15" align="left">&nbsp;</td>
            <td align="left"><a href="#" id="btnResetPassword">Enviar <img src="~/images/common/orangearrowongrey.gif" width="15" height="15" alt="" /></a> </td>
          </tr>
        </table>
      }
        <p class="errorMessage hide notmatch">Las contraseñas no coinciden.</p>
        <p class="errorMessage hide specchar">New password minimum length is six characters and must have at least one uppercase letter, and one digit/number.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="height30"></div>
