@{
    ViewBag.Title = "Foreword";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground">
        <img class="floatLeft" src="~/images/headers/foreword-image.jpg" width="960" height="240" alt="" />
        <div class="clear"></div>
    </div>
}

<div id="mainContent" class="select">
    <div id="col1">
        <h2>Foreword</h2>
        <p>
            The new Syngenta booklet “<b>
                Assuring Food Supplies; Safety,
                Security and Quality – A guide to pesticide residues
            </b>” is intended
            to contribute to a better awareness of pesticide residues in food and
            to inform those who wish to understand the important debate about
            the role of agrochemicals in modern crop production.
        </p>
        <p>
            This guide provides an entry into the language of scientific studies,
            with definitions of terms used and a clear account of what happens in
            setting the standards that apply to the safety of our food. The starting
            positions of those concerned with the issues presented by this
            discussion may differ widely and is often polarised; understanding
            this information helps to make a more informed debate on
            differences.
        </p>
        <p>
            To feed the ever growing population and ensuring an equal
            distribution of food is achievable, but we need to accept no one is
            making more agricultural land. There is a need to produce more food
            from each square meter of agricultural land, 
        </p>
    </div>
    <div id="col2">
        <p>
            however it is recognised
            that this must be done sustainably.The EU commission is calling
            this “Sustainable Intensive Agriculture”, the maximum production
            of quality food from the minimum use of inputs – including fuel,
            fertilizers and water – without affecting the environment and while
            providing a decent livelihood for farmers and rural communities.
        </p>
        <p>
            As well as concerns over food security and sustainability, within the
            food chain there is significant pressure to reduce pesticide residues
            in food below the scientifically established levels set by governments.
            Simultaneously addressing all these issues is a significant challenge
            for growers. Syngenta is in a very good position to help by making
            the best technology and tools available to them.
        </p>
        <p>
            “<b>Assuring Food Supplies</b>” has been designed to specifically
            answer your questions or concerns. We hope that you find this
            information easy to follow, helpful and reassuring.
        </p>
        <div align="right">
            <p><a href="~/select">Create my e-book <img src="~/images/common/orangearrowongrey.gif" width="15" height="15" alt="" /></a></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="height30"></div>
