@{
    ViewBag.Title = "Registration Confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="mainContent" class="register">
    <div id="col1">
        <p>Thank you, the confirmation has been completed. Please @Html.ActionLink("click here", "login") to login to your account.</p>
    </div>
</div>
