@{
    ViewBag.Title = "Registration Error";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="mainContent" class="register">
    <div id="col1">
        <p>An error occurred while processing your registration request.</p>
    </div>
</div>