@model Syngenta.Core.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground">
        <img class="floatLeft" src="~/images/headers/register-image.jpg" width="640" height="250" alt="" />
        <div id="introText">
            <p class="spaceBefore60"><strong>Assuring Food Supplies; Safety, Security and Quality – A guide to pesticide residues</strong> has been created using innovative E-book publication technology that enables you to uniquely select pages at the required level of detail on each of the different topic areas. You can select, save, print or email your own different versions, according to your customers' demands. </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
}
<div id="mainContent" class="register">
    <div id="col1">
        <p>Confirmation email has been sent to your Syngenta email address with your password. Once you have confirmed your registration, you can use the fast login process for future visits.</p>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="height30"></div>
