@{
    ViewBag.Title = "Vorwort";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground">
        <img class="floatLeft" src="~/images/headers/foreword-image.jpg" width="960" height="240" alt="" />
        <div class="clear"></div>
    </div>
}

<div id="mainContent" class="select">
    <div id="col1">
        <h2 class="orange">Vorwort </h2>
        <p>
            Die neue Syngenta-Broschüre &bdquo;Die Sicherung der Nahrungsmittelversorgung: Sicherheit und Qualität&quot; soll zu einem besseren Verständnis des Themas &bdquo;Rückstände von Pflanzenschutzmitteln in Lebensmitteln&ldquo; beitragen und alle, die diese Debatte verstehen wollen, über die Rolle von Pflanzenschutzmittels in der modernen Pflanzenproduktion informieren.
        </p>
        <p>Dieses Handbuch bietet einen Einstieg in die Sprache der wissenschaftlichen Studien (mit Definitionen der verwendeten Begriffe) und eine Darstellung der  Normen, die für die Sicherheit unserer Lebensmittel gelten. Die Positionen der an dieser Diskussion Beteiligten liegen oft weit auseinander und können durchaus kontrovers sein. Die hier vorgelegten Informationen sollen helfen, eine fundierte Debatte über die Unterschiede zu führen.</p>
        <p>Die Ernährung einer ständig wachsenden Bevölkerung und Gewährleistung einer gerechten Verteilung von Lebensmitteln sind möglich. Wir wissen jedoc, dass die landwirtschaftlichen Fläche nicht vermehrt werden kann. Es ist daher notwendig , von jedem Hektar landwirtschaftlicher Nutzfläche mehr Nahrung zu produzieren. Dies muss aber nachhaltig </p>
    </div>
    <div id="col2">
        <p>geschehen. Die EU-Kommission nennt dies &quot;Nachhaltige Intensive Landwirtschaft&quot;:  Maximale Produktion von hochwertigen Lebensmitteln mit minimale m Einsatz von Betriebsmitteln &#8211; einschließlich Kraftstoff, Dünger und Wasser &#8211; ohne negative Auswirkungen auf die Umwelt bei gleichzeitiger Sicherung eines angemessenen Lebensunterhalts für Landwirte und ländliche Räume.</p>
        <p>Neben Bedenken über Ernährungssicherheit und Nachhaltigkeit wird innerhalb der Wertschöpfungskette die Forderung erhoben, Rückstande von Pflanzenschutzmitteln in Lebensmitteln unter die wissenschaftlich festgesetzten Grenzen abzusenken. Die gleichzeitige Erfüllung all dieser Aufgaben stellt eine große Herausforderung für die Erzeuger dar. Syngenta hat mit seiner Erfahrung in diesem Bereich das Möglichkeiten, die besten Technologien und Mittel zur Verfügung zu stellen.</p>
        <p>&ldquo;Die Sicherung der Nahrungsmittelversorgung: Sicherheit und Qualität&rdquo; ist geschrieben worden, um auf Ihre Fragen und Bedenken zu antworten . Wir hoffen, dass diese Informationen klar und hilfreich sind und wir Sie hiermit von der Sicherheit unserer Nahrung überzeugen können.</p>
        <div align="right">
            <p><a href="~/select">Erstelle mein e-book <img src="images/common/orangearrowongrey.gif" width="15" height="15" alt="" /></a></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="height30"></div>
