@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner {
    
    <div id="imageRotation"><img src="~/images/headers/home-image.jpg" width="960" height="195" alt="" /></div>
    <div class="clear"></div>
    <div class="darkOrangeBackground height10"></div>
    <div class="lightOrangeBackground height40"></div>

    }

  <div id="mainContent" class="home"><img src="~/images/home/title-ger.gif" alt="Assuring food supplies; safety, security and quality - a guide to pesticide residues" name="titlegraphic" id="titlegraphic" />
    <div class="introCopy">
        <p>Der Leitfaden zu Rückständen von Pflanzenschutzmitteln &#8211; <strong>&#8222;Sicherstellung des Nahrungsangebotes; Sicherheit, Schutz und Qualität&#8220;</strong> &#8211; zielt darauf ab, das Bewusstsein für Themen rund um Pestizidrückstände in Nahrumsmitteln zu erhöhen. Er informiert diejenigen, die mehr über die Rolle von Agrochemikalien in der modernen Pflanzenproduktion verstehen wollen. Das neue Syngenta e-Book Format ermöglicht es Ihnen, alle Informationen enstprechend den Bedürfnissen Ihres Kunden zusammenzustellen.</p>
      <p class="spaceAfter2"><a href="~/login">Einloggen <img src="~/images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
      <p class="spaceAfter2"><a href="~/register">Anmelden <img src="~/images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
      <p class="spaceAfter2"><a href="~/admin/login">Admin log in <img src="~/images/common/whitearrowonorange.gif" width="15" height="15" alt="" /></a></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="flags">
      <p>Bitte klicken Sie auf das entsprechende Symbol, um auf Ihre bevorzugte Sprache zu wechseln...</p>
    <a href="../en"><img src="~/images/home/english.gif" width="49" height="57" alt="English icon" /></a>
    <a href="#"><img src="~/images/home/german.gif" width="49" height="57" alt="German icon" /></a>
    <a href="../es"><img src="~/images/home/spanish.gif" width="49" height="57" alt="Spanish icon" /></a>
    <div class="clear"></div>
  </div>