@{
    ViewBag.Title = "Abgemeldet";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground"><img class="floatLeft" src="~/images/headers/loggedout-image.jpg" width="960" height="350" alt="" />
      <div class="clear"></div>
    </div>
}

  <div id="mainContent" class="login">
    <div id="col1">
      <p class="darkGreen"><strong>Sie habe sich erfolgreich abgemeldet</strong></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="height30"></div>