@{
    ViewBag.Title = "Fehler in der Registrierungsbestätigung";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="mainContent" class="register">
    <div id="col1">
        <p>Ein Fehler trat bei der Verarbeitung Ihrer Registrierungsanfrage auf.</p>
    </div>
</div>