@model Syngenta.Core.User

@{
    ViewBag.Title = "Registrierung nicht abgeschlossen";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground">
        <img class="floatLeft" src="~/images/headers/register-image.jpg" width="640" height="250" alt="" />
        <div id="introText">
            <p class="spaceBefore60">Der Leitfaden zu Rückständen von Pflanzenschutzmitteln &#8211; <strong>&#8222;Die Sicherung der Nahrungsmittelversorgung: Sicherheit und Qualität&#8220;</strong> &#8211; wurde mit einer innovativen e-Book Publikationstechnologie erstellt, welche es Ihnen ermöglicht, die einzelnen Seiten je nach gewünschtem Themengebiet und nötigem Detailierungsgrad aufzurufen. Sie können Ihre selbst zusammengestellten Versionen, gemäss den Wünschen Ihres Kunden, auswählen, sichern, drucken und per E-Mail versenden.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
}
<div id="mainContent" class="register">
    <div id="col1">
        <p>Eine Bestätigungsmail wurde an Ihre Syngenta E-Mail-Adresse mit Ihrem Passwort wurde gesendet. Sobald Sie Ihr Passwort erhalten haben, können Sie den schnellen Login-Prozess für zukünftige Besuche verwenden.</p>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="height30"></div>
