@{
    ViewBag.Title = "Registrierungsbestätigung";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="mainContent" class="register">
    <div id="col1">
        <p>Vielen Dank, die Bestätigung abgeschlossen. Bitte @Html.ActionLink("klicken Sie hier", "login") zum Login.</p>
    </div>
</div>
