@{
    ViewBag.Title = "Passwort zurücksetzen – erfolgreich";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation"><img class="floatLeft" src="~/images/headers/password-image.jpg" width="960" height="250" alt="" />
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
}

  <div id="mainContent" class="login">
    <div id="col1">
      <h2>Passwort zurücksetzen – erfolgreich</h2>
      <p>Vielen Dank, Ihr Passwort wurde zurückgesetzt. Bitte @Html.ActionLink("klicken Sie hier", "login") zum Login.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="height30"></div>