<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->


  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>LRtGIVhY1hWwoB7NJXcNnPAzc/GdEAv4IKd+EiRiNiu6eaXQQ630+6/aEgHvnCNZPmMlMoBoCKWZKGIde7LvBsjmcfq1hAQoesKpTzJqUQa9sAVhrrN0zpKjPOOXWKUhaupLmKcolb7S4erPRYy8FPzUu9eoVPCkw1ZdZqWDx2w=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>oSfyFuJHGBeDaZQlCsl4e7L+8kaTvlHwwnqy4cEOI7sPhIb9yywl1bv5rh0FAmhUXseZyDzKCnznyAVtsPmOrQDGkcjmr3cfBJgUICM4SDx2s/bpBCY7lsF5tIymemhyiiISJFp8iJTHPYPuK3cln05SXC0sLOCmD0OvqoRIt4glehb2tD+CLKFhVOdrqAZ00qEctdfbARFZWHGRPPjAXb9u2pp8g8UuLsBf5U1RofHgzV3RSn7C1MlZmhSBB/NArreph3mrdRboKtZwCWS+XbWWRVQ252tqwyP4okbNxODnO/tUlBoyjEZxUiv4r//wRXpt0dQcOawrAR/SB2AdPFo5id5x9eBVIFlcZyVtlJ0bhdikEoMFtiRpkd1okSDn27CXUqW6dKoEJj/vgvr3RzI+9hINC6Y3AGEMcpgsuR9iyNe2mHJktPJGLtUStBWHUH7hlje6Yk9O/v/UBjPrxgz9ACxFXWtyAW4oaI5wxTMd/ZXiykJMAxsHJDju10Cj/z1ZC5d4Jj7jwdErvVBpJRuCV3NcKhsR0QYXURgl0Q5dMnz490OAmM4IAbbaLSbwriQfwSpyXzuSkEjZKBsdZ7Cqv2JaF0jGfSZGz9+XU8j9+CBwU3D8Aam6nU878ma17sYXXussWuWoPsty9KfO3dvdPcJuD/n8wKkaTnSUwwqgaBqvHR+AFDRg7kPzJhtQsrc2JVJXqJUOA3su6vvSr8dfYCYPjjI7upKXH4VNlgkhNcJf8qSydrZlgHOBH9dDiQrEQkD3iy7rVSkRz8mVGxyw0eIONcfcP6ZECeTcq2cdjxGSaHNMRAldnFcp16TTn7E5qX3d6c4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  
  <appSettings>
    <add key="WebsiteBaseUrl" value="https://www.syngenta-assuringfoodsupplies-ebook.com/en/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WebsiteLoginSSL" value="https://www.syngenta-assuringfoodsupplies-ebook.com/en/login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WebsiteRegisterSSL" value="https://www.syngenta-assuringfoodsupplies-ebook.com/en/register" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WebsiteAdminLoginSSL" value="https://www.syngenta-assuringfoodsupplies-ebook.com/en/admin/login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="login_register_email_domain" value="syngenta.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTPServer" value="smtp.webigence.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTPUserName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SMTPPassword" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="error500"
		  mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="/error500"/>
      <error statusCode="404" redirect="/error404"/>
    </customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>
    <staticContent xdt:Transform="Replace">
      <clientCache httpExpires="Sun, 30 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
  </system.webServer>
</configuration>