@{
    ViewBag.Title = "Forgotten password";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation"><img class="floatLeft" src="images/headers/password-image.jpg" width="960" height="250" alt="" />
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
}

  <div id="mainContent" class="login">
    <div id="col1">
      <h2>Forgotten password?</h2>
      <p>Please enter your Syngenta email address in the field below and click 'submit'. An email will be sent to you with your password information.</p>
      <form id="login" name="login" method="post" action="">
        <table id="regTable" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="90" align="left" valign="middle">
              <label for="email">Email address</label>
            </td>
            <td width="285" align="left">
              <input name="email" type="text" class="width275" id="email" />
            </td>
            <td width="15" align="left">&nbsp;</td>
            <td align="left"><a href="javascript:{}" onclick="document.getElementById('login').submit(); return false;">Submit <img src="images/common/orangearrowongrey.gif" width="15" height="15" alt="" /></a></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="height30"></div>