@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground"><img class="floatLeft" src="~/images/headers/disclaimer-image.jpg" width="960" height="240" alt="" />
      <div class="clear"></div>
    </div>
}

<div id="mainContent" class="login">
    <div id="col1">
        <h2 class="darkGreen">Disclaimer</h2>
        <p class="spaceAfter6"><strong>Comprometidos con la seguridad alimentaria y la calidad de los alimentos. Una guía sobre los residuos de los productos de protección de cultivos.</strong></p>
        <p>La información contenida en esta Guía tiene como objetivo hacer una introducción al uso de pesticidas en la cadena alimentaria. Aunque suministra información tanto de forma resumida como también con cierto detalle, su intención es sólo dar información general, introductoria y no ofrecer recomendaciones o pareceres relativos a circunstancias o cuestiones particulares. Si lo que busca es consejo o respuestas relativas a circunstancias o preguntas particulares, usted debería buscar el asesoramiento apropiado de un profesional. Por supuesto, si usted necesita consejo o información sobre el uso de los productos y servicios de Syngenta, por favor póngase en contacto con su representante local de Syngenta. Cualquier acción o decisión tomada basándose en esta Guía cae estrictamente bajo su responsabilidad de forma que ninguna compañía del Grupo Syngenta AG será responsable si tal acción o decisión da lugar a daños o pérdidas. Lo anterior no excluye ni limita cualquier responsabilidad que no pueda ser excluida ni limitada según la ley aplicable.</p>
    </div>
    <div class="clear"></div>
  </div>
<div class="clear"></div>
  <div class="height30"></div>